@font-face {
  font-family: "agency";
  src: url("../assets/fonts/agencyfb_reg.ttf") format("truetype");
}
@font-face {
  font-family: "agency-bold";
  src: url("../assets/fonts/agencyfb_bold.ttf") format("truetype");
}
@font-face {
  font-family: "consolas";
  src: url("../assets/fonts/Consolas-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "consolas-bold";
  src: url("../assets/fonts/ConsolasBold.ttf") format("truetype");
}
body {
  background: #000;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainWindow {
  flex-grow: 1;
  background: pink;
  overflow-y: auto; /* Add scrollbars if content overflows */
  background-image: url("../assets/images/mainBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sideWindow {
  width: 12.5vw;
  height: 100vh;
  background: black;
  overflow-y: auto; /* Add scrollbars if content overflows */
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1; /* This makes the remaining items take an equal portion of the height */
  width: 100%; /* This makes each item take 100% of the width relative to .sideWindow */
}

.item1 {
  background-image: url("../assets/images/frame-aarde.png");
  max-height: 12.5vw;
}
.item1 img {
  margin: 0 auto;
  margin-top: 10%;
}

/* Additional styling for individual items (optional) */
.item2 {
  background-image: url("../assets/images/mission-log.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item3 {
  background-image: url("../assets/images/ship-status.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dialogue {
  font-family: "consolas";
  position: relative;
  max-width: 50%;
  height: 20vh;
  top: 70vh;
  background-image: url("../assets/images/dialoguebox.png");
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  z-index: 11;
}

.dialogue .dialogueTitle {
  font-family: "agency-bold";
  font-size: 2rem;
  padding: 0;
  position: relative;
  top: 70%;
  left: 10%;
  width: 15%;
}

.dialogue .dialogueText {
  position: relative;
  font-size: 0.8rem;
  margin: 10px;
  padding: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: inherit;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  max-width: 60%;
  height: 80%;
  left: -10%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.dialogue .rightButton {
  position: absolute;
  bottom: 22%;
  right: 2%;
  margin: 10px;
  padding: 0;
  font-size: 4rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialogue .leftButton {
  position: absolute;
  bottom: 22%;
  left: 2%;
  margin: 10px;
  padding: 0;
  font-size: 4rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialogue button:hover {
  color: #ff98ed;
}

.homebutton {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 5vw;
  height: 5vw;
  background-color: #000;
  color: #fff;
  border: 10px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  overflow: none;
  text-align: justify;
}

.audio {
  position: absolute;
  bottom: 35vh;
  right: 50%;
  transform: translateX(50%);
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  overflow: none;
  text-align: justify;
  display: none;
}

/*# sourceMappingURL=body.css.map */
