@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
}
* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #0b0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#fade-in-out {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #e6e6e6;
  opacity: 0;
  animation: fade 1800ms ease-in-out 0ms forwards, show 2400ms ease-in-out 2400ms forwards, fadeOut 1200ms ease-in-out 4800ms forwards;
}

#fade-in-out2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #e6e6e6;
  opacity: 0;
  animation: constantOpacity 800ms ease-in-out 4800ms forwards, fade 2400ms ease-in-out 5600ms forwards, show 2400ms ease-in-out 7900ms forwards, fadeOut 1200ms ease-in-out 10500ms forwards;
}

#fade-in-out span {
  font-weight: 800;
}

#fade-in-out2 span {
  font-weight: 800;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#doorgaanButton {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

#doorgaanButton:disabled {
  pointer-events: none;
}

#doorgaanFrame {
  position: relative;
  width: 100%;
  height: 20px;
}

#doorgaanButton p {
  position: relative;
  bottom: -2px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #e6e6e6;
  opacity: 0.5;
  transition: bottom 0.3s ease;
}

#doorgaanFrame:hover p {
  bottom: 3px;
}

#bowImg {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 0;
  right: 0;
  z-index: 0;
}

#doorgaanFrame:hover #bowImg {
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0%, 100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes constantOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
