@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
}
* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #0b0c0c;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Add this to establish a stacking context */
}

video {
  position: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainWindow {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sideWindow {
  width: 12.5vw;
  height: 100vh;
  background: #0b0c0c;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scene {
  position: relative;
  opacity: 1;
  transition: 0.3s ease;
  height: 70%;
  background: #ec5cc1;
  overflow-y: hidden;
  background-image: url("../assets/images/mainBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.inbox {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  width: 70%;
  cursor: pointer;
}

.h1-apps {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.inbox p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.inbox .desc {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.systemen .desc2 {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.onderzoek .desc3 {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.desc.show {
  transition: 0.3s ease;
  opacity: 1;
}

.desc2.show {
  transition: 0.3s ease;
  opacity: 1;
}

.desc3.show {
  transition: 0.3s ease;
  opacity: 1;
}

.blue-bar {
  position: absolute;
  width: 50%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar.grow {
  transition: 0.3s ease;
  width: 70%;
}

.blue-bar-extra {
  position: absolute;
  width: 20%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar-extra.grow {
  transition: 0.3s ease;
  width: 30%;
}

.blue-bar-extra2 {
  position: absolute;
  width: 20%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar-extra2.grow {
  transition: 0.3s ease;
  width: 30%;
}

#bloomInbox.highlight {
  filter: blur(2.5px);
}

#bloomSystemen.highlight {
  filter: blur(2.5px);
}

#bloomOnderzoek.highlight {
  filter: blur(2.5px);
}

.systemen p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.onderzoek p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.extra-apps {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.systemen {
  height: 50%;
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  cursor: pointer;
}

.onderzoek {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  height: 50%;
  cursor: pointer;
}

#apps {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 87.5vw;
  height: 20%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

#apps:hover {
  transition: 0.3s ease;
  opacity: 0.75;
}

#apps.expanding {
  cursor: default;
  height: 70%;
  animation: expandAnimation 0.3s ease-out forwards;
  opacity: 1;
}

#apps.collapsing {
  cursor: pointer; /* Add this to indicate it's clickable */
  height: 20%;
  animation: collapseAnimation 0.3s ease-out forwards;
}

.scene.expanding {
  cursor: pointer;
  opacity: 0.5;
}

.scene.expanding:hover {
  opacity: 1;
}

.scene.collapsing {
  cursor: default;
}

.inbox-titlebox {
  position: absolute;
  width: 70%;
}

.systemen-titlebox {
  position: absolute;
  width: 30%;
}

.onderzoek-titlebox {
  position: absolute;
  width: 30%;
}

.systemenImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/systemen.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.systemenImg.noBlur {
  filter: blur(0px);
}

.systemenImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

.onderzoekImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/onderzoek.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.onderzoekImg.noBlur {
  filter: blur(0px);
}

.onderzoekImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

.inboxImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/inbox.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.inboxImg.noBlur {
  filter: blur(0px);
}

.inboxImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

@keyframes expandAnimation {
  from {
    height: 20%;
  }
  to {
    height: 70%; /* Set to your desired expanded height */
  }
}
@keyframes collapseAnimation {
  from {
    height: 70%; /* Set to your desired expanded height */
  }
  to {
    height: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
