@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #0b0c0c;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Add this to establish a stacking context */
}

video {
  position: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainWindow {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sideWindow {
  width: 12.5vw;
  height: 100vh;
  background: #0b0c0c;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scene {
  position: relative;
  opacity: 1;
  transition: 0.3s ease;
  height: 100%;
  background: #ec5cc1;
  overflow-y: hidden;
  background-image: url("../assets/images/mainBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.inbox {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  width: 70%;
}

.inbox h1 {
  color: #e6e6e6;
  margin-top: 25px;
  margin-left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.systemen h1 {
  color: #e6e6e6;
  margin-top: 25px;
  margin-left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.onderzoek h1 {
  color: #e6e6e6;
  margin-top: 25px;
  margin-left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.extra-apps {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.systemen {
  height: 50%;
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
}

.onderzoek {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  height: 50%;
}

#apps {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 87.5vw;
  height: 30%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

#apps:hover {
  transition: 0.3s ease;
  opacity: 0.75;
}

#apps.expanding {
  cursor: default;
  height: 70%;
  animation: expandAnimation 0.3s ease-out forwards;
  opacity: 1;
}

#apps.collapsing {
  cursor: pointer; /* Add this to indicate it's clickable */
  height: 30%;
  animation: collapseAnimation 0.3s ease-out forwards;
}

.scene.expanding {
  cursor: pointer;
  opacity: 0.5;
}

.scene.expanding:hover {
  opacity: 1;
}

.scene.collapsing {
  cursor: default;
}

@keyframes expandAnimation {
  from {
    height: 30%;
  }
  to {
    height: 70%; /* Set to your desired expanded height */
  }
}
@keyframes collapseAnimation {
  from {
    height: 70%; /* Set to your desired expanded height */
  }
  to {
    height: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
