@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlack.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/nunito/Nunito-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/nunito/Nunito-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/nunito/Nunito-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 1000;
  src: url("../assets/fonts/nunito/Nunito-ExtraBlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/quicksand/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/quicksand/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/quicksand/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
}
* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #0b0c0c;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* Add this to establish a stacking context */
}

video {
  position: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainWindow {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sideWindow {
  width: 12.5vw;
  height: 100vh;
  background: #0b0c0c;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scene {
  position: relative;
  opacity: 1;
  transition: 0.3s ease;
  height: 100%;
  background: #ec5cc1;
  overflow-y: hidden;
  background-image: url("../assets/images/mainBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.inbox {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  width: 70%;
  cursor: pointer;
}

.inbox.is1 {
  width: 90%;
  cursor: default;
  transition: 0.3s ease;
}

.inbox.ss1 {
  width: 70%;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.3s ease;
}

.inbox.os1 {
  width: 70%;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.3s ease;
}

.emails {
  position: absolute;
  top: 15%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  transition: 0.3s ease;
}

.emails.is1 {
  opacity: 1;
  display: block;
  transition: 0.3s ease;
}

.mail {
  position: relative;
  margin-top: 1.5%;
  left: 2%;
  width: 30%;
  height: 2vw;
  background-color: #185460;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s ease;
}

.mail .mail-thumbnail {
  height: 100%;
  width: 100%;
}

.mail .mail-thumbnail.read {
  display: none;
}

.mail .mail-thumbnail p {
  display: inline;
  position: relative;
  top: 35%;
  left: 2%;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

.mail .mail-thumbnail p span {
  font-weight: 800;
}

.mail:hover {
  background-color: #127da7;
}

.mail.read:hover {
  background-color: #185460;
}

.mail.read {
  cursor: default;
}

.h1-apps {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.inbox p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.inbox.read {
  cursor: pointer;
}

.inbox .desc {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.inbox .desc.is1 {
  opacity: 0;
}

.systemen .desc2.ss1 {
  opacity: 0;
}

.onderzoek .desc3.os1 {
  opacity: 0;
}

.systemen .desc2 {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.inbox.ss1:hover {
  opacity: 1;
}

.inbox.os1:hover {
  opacity: 1;
}

.systemen.is1 {
  transition: 0.3s ease;
  opacity: 0.25;
}

.systemen.is1:hover {
  opacity: 1;
}

.systemen.os1:hover {
  opacity: 1;
}

.onderzoek.is1:hover {
  opacity: 1;
}

.onderzoek.ss1:hover {
  opacity: 1;
}

.systemen.os1 {
  transition: 0.3s ease;
  opacity: 0.25;
}

.systemen.ss1 {
  position: relative;
  right: 10%;
  transition: 0.3s ease;
  width: 130%;
  height: 130%;
  opacity: 1;
  cursor: default;
}

.onderzoek.is1 {
  transition: 0.3s ease;
  opacity: 0.25;
}

.onderzoek.ss1 {
  transition: 0.3s ease;
  opacity: 0.25;
}

.onderzoek.os1 {
  position: relative;
  right: 10%;
  transition: 0.3s ease;
  width: 130%;
  height: 130%;
  opacity: 1;
}

.onderzoek .desc3 {
  opacity: 0;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
  width: 50%;
  position: relative;
  top: 70px;
  transition: 0.3s ease;
}

.desc.show {
  transition: 0.3s ease;
  opacity: 1;
}

.desc2.show {
  transition: 0.3s ease;
  opacity: 1;
}

.desc3.show {
  transition: 0.3s ease;
  opacity: 1;
}

.blue-bar {
  opacity: 0;
  position: absolute;
  width: 50%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar.grow {
  transition: 0.3s ease;
  width: 75%;
}

.blue-bar-extra {
  opacity: 0;
  position: absolute;
  width: 20%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar-extra.grow {
  transition: 0.3s ease;
  width: 100%;
}

.blue-bar-extra2 {
  opacity: 0;
  position: absolute;
  width: 20%;
  height: 0.3vw;
  background-color: #127da7;
  z-index: 5;
  transition: 0.3s ease;
}

.blue-bar-extra2.grow {
  transition: 0.3s ease;
  width: 100%;
}

.blue-bar.show {
  opacity: 1;
}

.blue-bar-extra.show {
  opacity: 1;
}

.blue-bar-extra2.show {
  opacity: 1;
}

#bloomInbox.highlight {
  filter: blur(2.5px);
}

#bloomSystemen.highlight {
  filter: blur(2.5px);
}

#bloomOnderzoek.highlight {
  filter: blur(2.5px);
}

.systemen p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.onderzoek p {
  position: absolute;
  color: #e6e6e6;
  top: 25px;
  left: 25px;
  opacity: 0.25;
  transition: 0.3s ease;
}

.extra-apps {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.systemen {
  height: 50%;
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  cursor: pointer;
  transition: 0.3s ease;
}

.onderzoek {
  background: linear-gradient(180deg, rgba(24, 84, 96, 0.75) 0%, rgba(24, 84, 96, 0) 100%);
  height: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.onderzoek.exp {
  cursor: default;
}

#apps {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 87.5vw;
  height: 20%;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

#apps:hover {
  transition: 0.3s ease;
  opacity: 0.75;
}

#apps.expanding {
  cursor: default;
  height: 70%;
  animation: expandAnimation 0.3s ease-out forwards;
  opacity: 1;
}

#apps.collapsing {
  cursor: pointer;
  /* Add this to indicate it's clickable */
  height: 30%;
  animation: collapseAnimation 0.3s ease-out forwards;
}

.scene.expanding {
  cursor: pointer;
  opacity: 0.5;
}

.scene.expanding:hover {
  opacity: 1;
}

.scene.collapsing {
  cursor: default;
}

.inbox-titlebox {
  position: absolute;
  width: 70%;
}

.systemen-titlebox {
  position: absolute;
  width: 30%;
}

.onderzoek-titlebox {
  position: absolute;
  width: 30%;
}

.systemenImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/systemen.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.systemenImg.noBlur {
  filter: blur(0px);
}

.systemenImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

.onderzoekImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/onderzoek.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.onderzoekImg.noBlur {
  filter: blur(0px);
}

.onderzoekImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

.inboxImg.expanding {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/apps-bg/inbox.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  filter: blur(10px);
  transition: 0.3s ease;
}

.inboxImg.noBlur {
  filter: blur(0px);
}

.inboxImg.collapsing {
  opacity: 0;
  transition: 0.3s ease;
}

#mail1 {
  display: none;
}

#mail2 {
  display: none;
}

#mail3 {
  display: none;
}

#mail4 {
  display: none;
}

#mail5 {
  display: none;
}

#mail1.hide {
  opacity: 0;
  position: absolute;
  z-index: -2;
  transition: 0.3s ease;
}

#mail2.hide {
  opacity: 0;
  position: absolute;
  z-index: -2;
  transition: 0.3s ease;
}

#mail3.hide {
  opacity: 0;
  position: absolute;
  z-index: -2;
  transition: 0.3s ease;
}

#mail4.hide {
  opacity: 0;
  position: absolute;
  z-index: -2;
  transition: 0.3s ease;
}

#mail5.hide {
  opacity: 0;
  position: absolute;
  z-index: -2;
  transition: 0.3s ease;
}

#mail1.read {
  width: 70%;
  height: 12vw;
  transition: 0.3s ease;
}

#mail2.read {
  width: 70%;
  height: 12vw;
  transition: 0.3s ease;
}

#mail3.read {
  width: 70%;
  height: 12vw;
  transition: 0.3s ease;
}

#mail4.read {
  width: 70%;
  height: 12vw;
  transition: 0.3s ease;
}

#mail5.read {
  width: 70%;
  height: 12vw;
  transition: 0.3s ease;
}

.titel-zinnen {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.onderzoek .titel-zinnen.exp {
  display: none;
}

.onderzoek .titel-zinnen p {
  margin-top: 30%;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 800;
  opacity: 1;
}

.onderzoek .titel-zinnen.os1 {
  opacity: 1;
}

.zinnen {
  position: absolute;
  top: 60%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  transition: 0.3s ease;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.zinnen.os1 {
  opacity: 1;
}

.onderzoek .zin-tape {
  position: relative;
  margin-bottom: 10%;
  opacity: 0.5;
  left: 15%;
  width: 20%;
  cursor: pointer;
  z-index: 2;
}

.onderzoek #zin1:hover {
  opacity: 1;
}

.zinnen.hide {
  opacity: 0;
}

.onderzoek.exp {
  right: 100%;
  width: 200%;
  height: 200%;
}

.onderzoek .conclusies {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  transition: 0.3s ease;
  opacity: 0;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.onderzoek .conclusies .conUitleg {
  width: 100%;
  left: 150%;
  top: 70%;
  font-size: 14px;
  font-weight: 500;
}

.onderzoek .afbCon {
  position: relative;
  background-color: greenyellow;
  top: 30%;
  left: 150%;
  width: 20vw;
  height: 10vw;
  transition: 0.3s ease;
  opacity: 1;
}

.onderzoek .exitCon {
  position: relative;
  background-color: red;
  top: 150%;
  left: 10%;
  width: 2vw;
  height: 1vw;
  transition: 0.3s ease;
  opacity: 1;
  cursor: default;
  z-index: 5;
}

.onderzoek .exitCon.leave {
  margin-top: 20%;
  cursor: pointer;
}

.onderzoek .conclusies.exp {
  opacity: 1;
}

.onderzoek .conclusies.exp p {
  margin-top: 5%;
  opacity: 1;
}

.mailAudio {
  margin-left: 95%;
  margin-top: 5%;
  width: 2vw;
  height: 2vw;
  background-image: url(../assets/svg/playBtn.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mail-content {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.mail-content.read {
  opacity: 1;
}

.mailExitCont {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}

.mailExitCont:hover {
  background-color: #127da7;
  opacity: 0.5;
}

.pp {
  width: 5%;
  height: 30%;
  background-color: #e6e6e6;
}

.mail-content .titel-mail {
  margin-left: 5%;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 18px;
  font-weight: 800;
}

.mail-content .tekst-mail {
  margin-left: 5%;
  margin-top: 5%;
  width: 40%;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 18px;
  font-weight: 500;
}

.afbeelding-mail {
  margin-left: 60%;
  margin-top: -1.5%;
  width: 15%;
  height: 20%;
  scale: 1.5;
}

#mailExitCont1.read {
  display: block;
}

#mailExitCont2.read {
  display: block;
}

#mailExitCont3.read {
  display: block;
}

#mailExitCont4.read {
  display: block;
}

#mailExitCont5.read {
  display: block;
}

.sysBtns {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 20%;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sysBtns p {
  display: inline;
  position: relative;
  top: 10%;
  left: 2%;
  color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 18px;
}

.sysBtnsDescs {
  margin-left: 5%;
  font-weight: 500;
}

.sysBtnsTitles {
  font-weight: 800;
}

.inv {
  background-color: #185460;
  width: 150%;
  height: 2vw;
  z-index: 5;
  transition: 0.3s ease;
  cursor: pointer;
}

.sysBtns.enable {
  opacity: 1;
}

.end {
  margin-top: 1vw;
  background-color: #185460;
  width: 150%;
  height: 2vw;
  z-index: 5;
  transition: 0.3s ease;
  cursor: pointer;
}

.inv.open {
  width: 200%;
  height: 5vw;
  cursor: default;
}

.end.open {
  width: 200%;
  height: 5vw;
  cursor: default;
}

.inv.hide {
  display: none;
}

.end.hide {
  display: none;
}

.systeemExitCont {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}

.systeemExitCont:hover {
  background-color: #127da7;
  opacity: 0.5;
}

#invExitCont.read {
  display: block;
}

#endExitCont.read {
  display: block;
}

.inv-cont {
  position: relative;
  margin: 5% auto;
  width: 80%;
  height: 40%;
  background-color: #127da7;
  opacity: 0;
}

.inv-cont.open {
  opacity: 1;
}

.end-button.open {
  opacity: 1;
}

.stofjes {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stofje {
  margin-left: 2.5%;
  width: 30%;
  height: 50%;
}

.end-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 7%;
  width: 30%;
  height: 30%;
  background-color: #e6e6e6;
  opacity: 0;
}

.end-button p {
  color: #185460;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  font-size: 18px;
  font-weight: 800;
}

#rood {
  background-color: #e11485;
}

#blauw {
  background-color: blue;
}

#groen {
  background-color: green;
}

#date {
  font-style: italic;
  margin-top: 12%;
}

@keyframes expandAnimation {
  from {
    height: 30%;
  }
  to {
    height: 70%;
    /* Set to your desired expanded height */
  }
}
@keyframes collapseAnimation {
  from {
    height: 70%;
    /* Set to your desired expanded height */
  }
  to {
    height: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
