@import "master";

.bruce,
.nova {
  width: 30vw;
  height: 30vw;

  top: 10vw;
  max-width: 1000px;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  opacity: 1;

  transition: transform 0.3s ease-in-out;
  transform: translateY(0); /* Start at their original position */
  position: relative; /* Change to absolute positioning */
}

.bruce {
  left: 30vw;
  background-image: url("../assets/images/bruceTemp.png");
  align-self: bottom;
}

.nova {
  left: 30vw;
  background-image: url("../assets/images/novaTemp.png");
  align-self: bottom;
}

.fix {
  position: absolute;
  bottom: 0;
  object-position: center;
  width: 87.5vw;
  object-fit: cover;
  z-index: 5;
}
