@import "master";

.bruce,
.nova {
  width: 30vw;
  height: 30vw;

  top: 0vw;
  max-width: 1000px;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  opacity: 1;

  animation: animation 0.5s ease-in-out; /* Use the animation property */
  transform: translateY(0); /* Start at their original position */
  position: relative; /* Change to absolute positioning */
}

@keyframes animation {
  0% {
    transform: translateY(0); /* Start at their original position */
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  100% {
    transform: translateY(-10vh); /* Move them up */
    opacity: 1;
  }
}
.bruce {
  left: 30vw;
  background-image: url("../assets/images/bruceTemp.png");
  align-self: bottom;
}

.nova {
  left: 30vw;
  background-image: url("../assets/images/novaTemp.png");
  align-self: bottom;
}
