@import "master";

.dialogue {
  font-family: "consolas";
  position: relative;
  max-width: 50%;
  height: 20vh;
  top: 70vh;
  background-image: url("../assets/images/dialoguebox.png");
  left: 50%;
  transform: translateX(-50%);
  color: $color-white;
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  z-index: 11;
}

.dialogue .dialogueTitle {
  font-size: 2rem;
  padding: 0;
  position: relative;
  top: 70%;
  left: 10%;
  width: 15%;
}

.dialogue .dialogueText {
  position: relative;
  font-size: 0.8rem;
  margin: 10px;
  padding: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: inherit;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  // animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  max-width: 60%;
  height: 80%;
  left: -10%;
}

.dialogue .rightButton,
.dialogue .leftButton {
  position: absolute;
  bottom: 22%;
  margin: 10px;
  padding: 0;
  font-size: 4rem;
  color: $color-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialogue .rightButton {
  right: 2%;
}

.dialogue .leftButton {
  left: 2%;
}

.dialogue button:hover {
  color: $color-green;
}
