@import url("master.scss");
$color-white: #fff;
$color-black: #000;
$color-pink: #ff98ed;

body {
  background-image: url("../assets/images/space.png");
  overflow: hidden;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 24%;
  transition: all 0.5s ease-in-out;
}

.start {
  background-image: url("../assets/svg/start.svg");
  position: absolute;
  min-width: 19.8vw;
  min-height: 7.5vw;
  background-size: cover;
  bottom: -10vw;
  left: 10vw;
  transition: all 0.5s ease-in-out;
}

.info {
  background-image: url("../assets/svg/info.svg");
  position: absolute;
  min-width: 5vw;
  min-height: 5vw;
  background-size: cover;
  top: -25vh;
  left: 5vw;
  transition: all 0.5s ease-in-out;
}

.text {
  background-image: url("../assets/svg/des.svg");
  position: absolute;
  min-width: 30vw;
  min-height: 16vw;
  background-size: cover;
  top: 10vh;
  right: -40vw;
  transition: all 0.5s ease-in-out;
}

.title-animate {
  /* Example of a simple fade-in animation */
  animation: fadeIn 0.5s;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5em;
  animation: blinkCursor 0.75s step-end infinite alternate;
}

.bold {
  font-weight: bold;
}
