@import "master";

body {
  background: $color-black;
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Add this to establish a stacking context */
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainWindow {
  flex-grow: 1;
  background: $color-pink;
  overflow-y: hidden;
  background-image: url("../assets/images/mainBG1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sideWindow {
  width: 12.5vw;
  height: 100vh;
  background: $color-black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
