$color-white: #E6E6E6;
$color-black: #0B0C0C;
$color-pink: #EC5CC1;
$color-green: #185460;
$color-blue: #127DA7;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap')